asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.2.0
Django==4.2.7
gTTS==2.4.0
idna==3.4
PyAudio==0.2.14
pypiwin32==223
pyttsx3==2.90
pywin32==306
requests==2.31.0
SpeechRecognition==3.10.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.7
